<!doctype html>
<html lang="en">
    <head>
        <title>Request Header</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                Request Header
            </h1>
            <blockquote>
                User stories:
                <ul>1)  I can get user information by going to /api/whoami</ul>
            </blockquote>
            <h3>Image Search Example usage:</h3>
            <code>my.app/api/whoami/><br>
            <h3>Example output:</h3>
            <code>
                {
                    ip: "::ffff:10.154.74.169",
                    browser: "Mozilla/5.0",
                    OS: "IntelMac"
                }
            </code>
        </div>
    </body>
</html>
